<main *ngIf="!isLoading">

  <mat-form-field>
    <input [(ngModel)]="filter.pokemonName" matInput placeholder="Pokemon name">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Type</mat-label>
    <mat-select [(ngModel)]="filter.type">
      <mat-option value=""></mat-option>
      <mat-option *ngFor="let type of selectList.types.sort()" [value]="type">
        {{ type }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Ability</mat-label>
    <mat-select [(ngModel)]="filter.ability">
      <mat-option value=""></mat-option>
      <mat-option *ngFor="let ability of selectList.abilities.sort()" [value]="ability">
        {{ ability }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>color</mat-label>
    <mat-select [(ngModel)]="filter.color">
      <mat-option value=""></mat-option>
      <mat-option *ngFor="let color of selectList.colors.sort()" [value]="color">
        {{ color }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>generation</mat-label>
    <mat-select [(ngModel)]="filter.generation">
      <mat-option value=""></mat-option>
      <mat-option *ngFor="let generation of selectList.generations.sort()" [value]="generation">
        {{ generation }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <button (click)="sort('entry_number')">id</button>
  <button (click)="sort('pokemon_species')">nom</button>
  <ul>
    <li 
      *ngFor="
        let pokemon of pokemonList
        | filters: {
          pokemon_species: filter.pokemonName,
          entry_number: filter.pokemonName}
        | orderBy : key : reverse
        | paginate: { itemsPerPage: 20, currentPage: p }">
      {{ pokemon.entry_number }} {{ pokemon.pokemon_species.name }}
    </li>
  </ul>
  <pagination-controls (pageChange)="p = $event" autoHide="true" maxSize="10"></pagination-controls>
</main>
