<main *ngIf="!loading.isLoading">
  <input [(ngModel)]="filter.pokemonName" placeholder="Search..">
  <select [(ngModel)]="filter.type">
    <option value=""></option>
    <option *ngFor="let type of selectList.types" [value]="type">{{ type }}</option>
  </select>
  <select [(ngModel)]="filter.ability">
    <option value=""></option>
    <option *ngFor="let ability of selectList.abilities" [value]="ability">{{ ability }}</option>
  </select>
  <select [(ngModel)]="filter.generation">
    <option value=""></option>
    <option *ngFor="let generation of selectList.generations" [value]="generation">{{ generation }}</option>
  </select>
  <select [(ngModel)]="filter.color">
    <option value=""></option>
    <option *ngFor="let color of selectList.colors" [value]="color">{{ color }}</option>
  </select>
  <button (click)="sort('id')">id</button>
  <button (click)="sort('name')">nom</button>
  <ul>
    <li 
      *ngFor="
        let pokemon of pokemonList
        | filters: {
          name: filter.pokemonName,
          types: filter.type,
          abilities: filter.ability,
          color: filter.color,
          generation: filter.generation}
        | orderBy : key : reverse">
      <img [src]="pokemon.sprites.front_default" />
      {{ pokemon.name }}
    </li>
  </ul>
</main>
