#filters-menu {
    display: flex;
    flex-direction: column;
    padding: 20px;

    mat-button-toggle-group,
    mat-form-field {
        margin-bottom: 20px;
    }
}

#pokemon-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;

    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: 0;
        padding: 20px;
    }

    li {
        margin: 5px;
        padding: 0;
        list-style: none;

        button {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;
            height: 120px;
            width: 120px;
            background: white;

            &:hover::before {
                content: '';
                position: absolute;
                z-index: 3;
                height: 120px;
                width: 120px;
                opacity: 0.3;
                background-size: 80px 80px;
                background-repeat: no-repeat;
                background-position: center;
                animation: zoom 0.3s ease-in-out;
            }
        }

        p {
            margin: 0;
            line-height: 1;
        }

        .pokemon-id {
            position: absolute;
            top: 9px;
            left: 9px;
            line-height: 1;
        }
    }

    pagination-controls {
        margin-top: auto;
    }
}

.mode-pokeball::before {
    background-image: url('../../../assets/img/pokeball.png');
}

.mode-loupe::before {
    background-image: url('../../../assets/img/loupe.png');
}

@keyframes zoom {
    0% {
        background-size: 200px 200px;
    }
    100% {
        background-size: 80px 80px;
    }
}

mat-sidenav-content {
    .open-close-side-nav {
        height: 40px;
        width: 35px;
        border-radius: 0 20px 20px 0;
        background: white;
        position: fixed;
        left: 0;
        top: 10px;
        z-index: 1;
        color: black;
        transition: 1s ease;

        &.close {
            left: -40px;
        }
    }
}

mat-sidenav-container .open-close-side-nav {
    margin: 0 0 20px auto;
}

.mode-button {
    img {
        width: 30px;
        margin: 10px;
    }
}

.pokemon-list-pagination /deep/ .ngx-pagination .current {
    background: #ff4081;
}